@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');

:root{
    --fundo-dia:rgb(249, 255, 184);
    --fundo-diaD:rgb(236, 251, 72);
    --fundo-tarde:rgb(252, 184, 129);
    --fundo-tardeD:rgb(250, 134, 39);
    --fundo-noite:rgb(130, 138, 255);
    --fundo-noiteD:rgb(79, 90, 251);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background:linear-gradient(var(--fundo-tarde),var(--fundo-tardeD));
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99vh;
}

#Titulo{
    font-family: "Bungee Inline", sans-serif;
    font-family:"Bungee Inline", sans-serif;
    color:rgb(235, 254, 226);
}

.Core-Box{
    width:25rem;
    height: 25rem;
    border-radius:5%;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

}

.Sub-Titulo{
    display: flex;
    font-size: 24px;
    justify-content: center;
    margin-top: 15px;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 100;
}

.Assinatura{
    text-decoration: none;
    font-style: italic;
    color: aliceblue;
}